<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrado de la Película</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <figure>
        <a href="/"> <img src="/img/Argenflix.png" alt="Logo Argenflix"></a>
      </figure>
    <h1>Estás seguro de querer borrar el registro de : <%= Actor.first_name %> <%= Actor.last_name %>?</h1>
    <p>
        <form action="/actors/delete/<%= Actor.id %>?_method=DELETE" method="POST">
            <br>
            <button class="botonBorrar" type="submit">Sí, borrar</button>
            
            <a  class="botonVolver" href="/actors">No, volver a la lista</a>

        </form>
    </p>
    
</body>

</html>