<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Géneros</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <a href="/"> <img src="/img/Argenflix.png" alt="Logo Argenflix"></a>
      </figure>
    <h1>Todos nuestros géneros :</h1>
    <ul>
        <% for( let i = 0; i < genres.length; i++ ) { %>
        <li>
            <a href="/genres/detail/<%= genres[i].id %>"><%= genres[i].name %></a>
        </li>
        <% } %>

    </ul>
</body>

</html>