<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <a href="/"> <img src="/img/Argenflix.png" alt="Logo Argenflix"></a>
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>

    <a href="/movies">Peliculas</a><br>
    <a href="/movies/new">Últimos estrenos</a><br>
    <a href="/movies/recommended">Nuestras recomendaciones</a><br><br>
    <a href="/genres">Nuestros géneros</a><br><br>
    <a href="/actors">Actores de la compañía</a><br>
    <a href="/actors/best">Mejores actores</a><br><br>

  </body>
</html>
