<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas ordenas por fecha</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <figure>
        <a href="/"> <img src="/img/Argenflix.png" alt="Logo Argenflix"></a>
    </figure>
    <h1>Últimos estrenos :</h1>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a href="/movies/detail/<%=movies[i].id%>"><%= movies[i].title %> </a> <br>
            <p><%= 'ESTRENADA EL : ' + movies[i].release_date %></p> 
        </li>
        <% } %>
        
    </ul>
</body>
</html>